@font-face {
  font-family: 'Lato';
  src: url('/images/fonts/lato-reg-webfont.eot'); /* IE9 Compat Modes */
  src: url('/images/fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/images/fonts/lato-reg-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/images/fonts/lato-reg-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/images/fonts/lato-reg-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/images/fonts/lato-reg-webfont.svg#latoregular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Amatic SC';
  src: url('/images/fonts/amaticsc-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/images/fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/images/fonts/amaticsc-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/images/fonts/amaticsc-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/images/fonts/amaticsc-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/images/fonts/amaticsc-regular-webfont.svg#amatic_scregular') format('svg'); /* Legacy iOS */
}