/* general elements */
a {
  color:initial;
}
a:hover, a:link, a:visited {
  text-decoration:none;
}
body, div, ul, li, p {
  margin:0;
  padding:0;
  font-family: Lato, sans-serif;
}
img {
  border:0px none;
}

/* general classes */
.aside-left {
  float:left;
}
.aside-right {
  float:right;
}
.caption-overlay {
  position:absolute;
  width:100%;
}
.inline {
  display:inline-block;
}
.is-logged-in .feature-no-log-in {
  display:none;
}
.lightbox-content {
  display:none;
}
/* need non-auto z-index because the overlay covers auto-suggest boxes */
.nivo-lightbox-overlay {
  z-index: 1;
}
.not-logged-in .feature-log-in {
  display:none;
}
/* DEPRECATED - reproduce with double shadow strategy */
.lift-shadow  {
  position: relative;
  -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.4);
  -moz-box-shadow: 0 6px 10px rgba(0,0,0,.4);
  box-shadow: 0 6px 10px rgba(0,0,0,.4);
}
.orange-grade {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(251,173,58,1) 0%, rgba(251,173,58,0.98) 21%, rgba(242,95,37,0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,173,58,1)), color-stop(21%,rgba(251,173,58,0.98)), color-stop(100%,rgba(242,95,37,0.9)));
  background: -webkit-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: -o-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: -ms-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: linear-gradient(to bottom, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbad3a', endColorstr='#e6f25f25',GradientType=0 );
}
.overlay-bottom {
  bottom:0;
}
.show-cart-tab-wrapper table {
  width:100%;
}
.sprite {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
}

/* jQuery ui-tabs corrections */
.ui-widget-content,
.ui-widget-header,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background-image:none;
}

/* jQuery ui-autocomplete corrections */
.ui-widget-header .ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-state-focus {
  background-image:none;
}

/* major elements */
#category-tabs {
  font-family:Amatic SC;
  z-index:-1;
}
#featured-tabs {
  padding: 3em 0 4em;
  height: 150px;
  text-align: center;
  background-image: url('../images/backgrounds/bg-subfeature.png');
  box-sizing:content-box;
}
#footer {
  background-image: url('../images/backgrounds/bg-footer.png');
  padding:45px;
  color:#999999;
  text-align:center;
  font-size:8.5pt;
}
#header {
  height: 100px;
  background-image: url('../images/backgrounds/bg-header.png');
  position: fixed;
  z-index: 3;
  width: 100%;
  min-width:960px;
}
#header-cs-menu {
  z-index:1;
  position:absolute;
  right:5px;
  top:0;
  height:40px;
  overflow:visible;
}
#header-logo {
  position: absolute;
  bottom: 0px;
  margin-bottom: 5px;
  padding-left: 8px;
}
#home-slideshow {
  background-color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 8px 8px -2px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 8px 8px -2px rgba(0,0,0,.5);
  box-shadow: 0px 8px 8px -2px rgba(0,0,0,.5);
}
#main-content {
  position:relative;
  margin-top:150px;
  z-index:1;
}
#main-navigation-bar {
  background-image:url('../images/backgrounds/bg-main-menu.png');
  height:50px;
  position:fixed;
  z-index:2;
  -webkit-box-shadow: 0px 3px 9px -1px rgba(0,0,0,.6);
  -moz-box-shadow: 0px 3px 9px -1px rgba(0,0,0,.6);
  box-shadow: 0px 3px 9px -1px rgba(0,0,0,.6);
  width:100%;
  margin-top:100px;
}
/* OBSOLETE for partial-fixed header */
/*#main-navigation-bar.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}*/
#main-navigation-menu {
  margin-left:6px;
  z-index:1;
}
#top-container {
  width:100%;
  min-width:960px;
  position:relative;
  margin:0 auto;
  z-index:0;
  overflow:hidden;
}

/* flyout menus */
.flyout-menu .flyout-panel {
  position: absolute;
  left:0;
  padding: 1em 8px;
  text-align:center;
  display:none;
  list-style-type:none;
}

/* main navigation menu */
.main-navigation-item-text {
  line-height: 50px;
  padding: 0 12px;
  margin-top: -.75em;
}
#main-navigation-menu a {
  color: #ffffff;
  display: inline-block;
}
#main-navigation-menu a:hover {
  color:#000000;
}
#main-navigation-menu > ul {
  font-size:0;
}
#main-navigation-menu > ul > li {
  color: #ffffff;
  display: inline-block;
  font-size: 9.5pt;
  font-weight: bold;
  border-right: 1px solid #ffffff;
  vertical-align: middle;
  padding: 0px 5px;
  height: 32px;
  margin-top: .75em;
}
#main-navigation-menu > ul > li:last-child {
  border-right:0px none;
}
#main-navigation-menu .category-items {
  background-image: url('../images/backgrounds/bg-brown-paper.png');
  -webkit-box-shadow: 0 3px 5px -3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 5px -3px rgba(0,0,0,.5);
  box-shadow: 0 3px 5px -3px rgba(0,0,0,.5);
}
#main-navigation-menu > ul > li:hover .main-navigation-item-text {
  background-image: url('../images/backgrounds/bg-brown-paper.png');
  color:#000000;
}
#main-navigation-menu > ul > li:hover .category-items {
  /*display:block;*/ /* devchange debugging - remove */
}
#main-navigation-menu .category-item:hover .lift-shadow-120:after {
  background-image:none;
}
#main-navigation-menu .category-items img {
  max-width: 120px;
  display:block;
  margin:0 auto;
}
#main-navigation-menu .category-item {
  margin:0 6px;
  padding:12px 8px 2em;
  max-width: 142px;
}
#main-navigation-service-check {
  position:absolute;
  right:0;
  top:0;
  height:50px;
  background-color:#e2d7cb;
  min-width:24%;
  font-size:8pt;
}

/* customer service menu buttons  and flyout */
#cs-menu-chat-help {
  background-color:#D9CCBC;
}
#cs-menu-help {
  background-color:#D9CCBC;
}
#cs-menu-help .flyout-panel {
  background-color:#D9CCBC;
  text-align:left;
  padding:0 0 1em;
  margin-left:1px;
  width:185px;
}
#cs-menu-help .flyout-panel li {
  padding: 0 1em 0 1.7em;
}
#cs-menu-help .flyout-panel li:hover {
  background-color:#716657;
}
#cs-menu-help .help-chevron-down {
  height:8px;
  width:10px;
  display:inline-block;
  vertical-align:middle;
  background-position: -30px -140px;
  margin-right:.5em;
}
#cs-menu-help:hover .help-chevron-down {
  background-position: -30px -150px;
}
#cs-menu-my-account:before {
  content: '';
  width: 26px;
  height: 8px;
  background-image:url('../images/sprites.png');
  background-repeat:no-repeat;
  background-position: -260px -50px;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  margin-top: 2px;
}
/*
Need to deal with this in the delay hook
#account-navigation-menu-wrapper:hover #cs-menu-my-account:before {
  background-position: -260px -40px;
} */
#cs-menu-sign-up {
  background-color:#f7931e;
  color:#ffffff;
}
.cs-menu-button {
  float:right;
  height:28px;
  line-height:28px;
  vertical-align:middle;
  color:#f7931e;
  text-align:center;
  font-weight:bold;
}
.cs-menu-account-button {
  width:70px;
  border-bottom-left-radius: .8em;
  border-bottom-right-radius: .8em;
  border:1px solid #f7931e;
  border-top:0px none;
  height:40px;
  line-height:40px;
  -webkit-box-shadow: 0px 8px 17px -7px rgba(34,34,34,0.57);
  -moz-box-shadow: 0px 8px 17px -7px rgba(34,34,34,0.57);
  box-shadow: 0px 8px 17px -7px rgba(34,34,34,0.57);
}
.cs-menu-help-button {
  width:90px;
  margin-left:1px;
  font-size:9pt;
}
.cs-menu-help-button a {
  color:#f7931e;
}
.cs-menu-help-button a.help-menu-item {
  color:#ffffff;
}
.cs-menu-help-button:hover a {
  color:#ffffff;
}
#cs-menu-chat-help .chat-help-icon {
  display:inline-block;
  height:20px;
  width:19px;
  background-position: 0px -140px;
  vertical-align:middle;
}
#cs-menu-chat-help:hover .chat-help-icon {
  background-position:0px -160px;
}

/* account navigation menu */
#account-navigation-menu-wrapper {
  width: 140px;
  height: auto;
  background: #ffffff;
  border: 0px none;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,.3);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,.3);
  font-family: Amatic SC;
  font-size: 20pt;
  color: #000000;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
}
#account-navigation-menu-wrapper a {
  color:#000000;
  line-height:40px;
}
#account-navigation-menu {
  display:none;
  font-size:8pt;
  cursor:pointer;
  z-index:1;
  margin-bottom:1em;
  position:static;
  padding: 8px 0;
}
#account-navigation-menu li {
  line-height: 1.5em;
  text-align: left;
  padding: 0 1em;
  list-style-type: none;
}
#account-navigation-menu li:hover, #account-navigation-menu li:hover a {
  background-color:#716657;
  color:#ffffff;
}

/* service check form */
#service-check-form {
  height:50px;
  line-height:50px;
  vertical-align:middle;
  padding: 0 10px;
}
#service-check-form label {
  display: inline-block;
  line-height: 1.1em;
  vertical-align: middle;
  text-align: center;
  color: #9B8369;
}
#service-check-form img {
  background-color: #ffffff;
  padding: 7px 8px 8px 0;
  margin-top: -2px;
}
#service-check-form input {
  line-height: 1.5em;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -3px;
  border: 0px none;
  padding: 10px 0px 10px 12px;
}

/* main navigation cart bar */
#main-navigation-cart-bar {
  position:absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  z-index:2;
}
#cart-checkout-button-wrapper {
  color:#ffffff;
  display:inline-block;
}
.cart-bar-item {
  margin-right: 15px;
}
.cart-checkout-button {
  border-radius: .5em;
  display: inline-block;
  vertical-align: middle;
  line-height: 54px;
  height:54px;
  margin-top: -2px;
  padding: 0 10px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 0px 3px 9px -1px rgba(0,0,0,.6);
  -moz-box-shadow: 0px 3px 9px -1px rgba(0,0,0,.6);
  box-shadow: 0px 3px 9px -1px rgba(0,0,0,.6);
}
.cart-total-items {
  width: 43px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-position: -150px -140px;
  display: inline-block;
  vertical-align: top;
  margin: 5px .5em 0px 0px;
  padding-left: 10px;
}
.cart-total-amt {
  font-size:20px;
  font-weight:bold;
}
.cart-total-amt:before {
  content:'$';
  font-weight:300;
}
#cart-bar-checkout-button img {
  margin: 6px 1em 0 0;
  vertical-align: top;
}
#cart-bar-slide-button {
  background-position: -200px -190px;
  height:18px;
  width:20px;
  display:inline-block;
  vertical-align:middle;
  margin:-7px 0 0 9px;
}
.slide-out #cart-bar-slide-button {
  background-position: -220px -190px;
}

/* Flyout for cartbar on main navigation */
#cart-bar-flyout {
  display:none;
  position: fixed;
  right: 0;
  width: 320px;
  background-color: #ffffff;
  border: 0px none;
  border-top: 10px solid #f15a24;
  top: 150px;
  font-size:9pt;
  line-height:1.2em;
  -webkit-box-shadow: -4px 0 5px -3px rgba(0,0,0,.5);
  -moz-box-shadow:-4px 0 5px -3px rgba(0,0,0,.5);
  box-shadow: -4px 0 5px -3px rgba(0,0,0,.5);
  z-index:1;
  /* fix for strange "disappearing content" issue */
  -webkit-backface-visibility: hidden;
}
#cart-bar-flyout .cart-list-item {
  position: relative;
  margin-top:5px;
  border:1px solid transparent;
  border-bottom: 1px solid #d5ccba;
}
#cart-bar-flyout .cart-item-list-entries {
  overflow-y: scroll;
  overflow-x: auto;
  background-color:#ffffff;
}
#cart-bar-flyout .cart-item-qtyctl,
#cart-bar-flyout .cart-item-qtytext {
  height: 100px;
  width: 30px;
  text-align: center;
  float: left;
  margin: 0 5px 0 10px;
}
#cart-bar-flyout .cart-item-qtytext {
  line-height: 100px;
}
#cart-bar-flyout .cart-item-qtyctl {
  display:none;
}
#cart-bar-flyout .cart-item-qtyctl > * {
  margin: 0 auto;
  text-align: center;
}
#cart-bar-flyout .cart-item-qtyctl .sprite {
  margin: 7px auto;
}
#cart-bar-flyout .cart-item-image-path {
  float: left;
  line-height: 100px;
  margin-right: 5px;
}
#cart-bar-flyout .cart-item-image-path img {
  float: none;
}
#cart-bar-flyout .cart-item-remove {
  float: right;
  line-height: 100px;
  margin: 0 10px;
  display:none;
}
#cart-bar-flyout .cart-item-name,
#cart-bar-flyout .cart-item-descript,
#cart-bar-flyout .cart-item-price {
  margin-top:5px;
  margin-right:50px;
}
#cart-bar-flyout .cart-item-descript {
  font-weight:normal;
}
#cart-bar-flyout-link {
  margin: 10px auto;
  width:280px;
  line-height: 50px;
  text-align: center;
  font-size: 16pt;
  border-radius: 8px;
  position:relative;
  color:#ffffff;
}
#cart-bar-flyout-link-arrow {
  position: absolute;
  right: 30px;
  width: 20px;
  height: 18px;
  background-position: -250px -190px;
  margin: 16px 0px;
  top: 0;
}
#cart-bar-flyout .is-cart-item:hover .cart-item-qtyctl,
#cart-bar-flyout .is-cart-item:hover .cart-item-remove {
  display:block !important;
}
#cart-bar-flyout .is-cart-item:hover .cart-item-qtytext {
  display:none !important;
}
#cart-bar-flyout .cart-item-quantity-upd.sprite {
  margin-top: -27px;
}

/* Cart item controls, generally */
.cart-item-remove-button {
  width: 30px;
  height: 30px;
  background-position: -30px -100px;
  display: inline-block;
}
.cart-item-remove-button:hover {
  background-position: -60px -100px;
}
.cart-item-quantity-add, .cart-item-quantity-del, .cart-item-quantity-upd {
  height: 20px;
  width: 20px;
}
.cart-item-quantity-add {
  background-position:-210px -100px;
}
.cart-item-quantity-add:hover {
  background-position:-210px -120px;
}
.cart-item-quantity-del {
  background-position: -190px -100px;
}
.cart-item-quantity-del:hover {
  background-position: -190px -120px;
}
.is-editing .cart-item-quantity-del {
  display:none !important;
}
.cart-item-quantity-upd {
  background-position:-230px -120px;
  display:none;
}
.is-editing .cart-item-quantity-upd {
  display:block !important;
}
.cart-bar-reorder-button {
  background-position: -112px -141px;
  height: 30px;
  width: 32px;
  display:inline-block;
  vertical-align: middle;
}
.cart-bar-wishlist-button {
  background-position: -261px -61px;
  height: 25px;
  width: 25px;
  display:inline-block;
  vertical-align: middle;
}

/* next delivery time */
#delivered-minutes {
  color: #dd1a22;
  vertical-align: middle;
  display: inline-block;
  font-size: 34px;
  font-weight: bold;
  margin: 4px 4px 0px;
  letter-spacing: -.03em;
}
#delivered-within {
  display: inline-block;
  font-weight: 900;
  font-size: 46px;
  line-height: .9em;
  vertical-align: middle;
  letter-spacing: -.010em;
  margin-left: 4px;
}
#delivered-within span {
  display: block;
  font-size: 28px;
  line-height: 20px;
  letter-spacing: -.25px;
  margin-top: -2px;
}
#header-delivery-notice {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 290px;
  height: 90px;
  background-image: url('../images/backgrounds/FreshFood.png');
  padding: 20px 20px;
}
#header-delivery-text {
  color: #38b349;
}
#header-delivery-text > * {
  font-family: Amatic SC;
}
#header-next-delivery {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: -23px;
  line-height: 1.1em;
  font-size: 11px;
  background-color: #d9e021;
  padding: 10px 9px 11px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,.4);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,.4);
}
#header-next-delivery hr {
  margin:6px 0;
  border-bottom:1px dotted #d9e021;
  border-top-style:none;
  background-color: #d9e021;
}
#header-next-delivery span {
  font-weight:900;
  font-size:1.2em;
}

/* quick search form */
#header-quick-search {
  position: absolute;
  right: 5px;
  bottom: 10px;
  color: #000000;
  z-index:0;
}
#quick-search-term {
  padding: 6px 12px 7px;
  width: 400px;
  font-style: italic;
  font-size: 1.3em;
  border: 1px solid black;
  border-right: 0px none;
  vertical-align: top;
  font-weight:300;
}
#quick-search-icon-wrapper {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: top;
  padding:5px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiYWQzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2ZiYWQzYSIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMjVmMjUiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(251,173,58,1) 0%, rgba(251,173,58,0.98) 21%, rgba(242,95,37,0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,173,58,1)), color-stop(21%,rgba(251,173,58,0.98)), color-stop(100%,rgba(242,95,37,0.9)));
  background: -webkit-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: -o-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: -ms-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: linear-gradient(to bottom, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbad3a', endColorstr='#e6f25f25',GradientType=0 );
}
#quick-search-icon-wrapper .sprite {
  width:30px;
  height:30px;
  background-position: -260px 0;
}

/* featured tabs */
#today-on-sale .feature-tab-content .is-page-item {
  font-size: 9pt;
  padding:10px 15px 0px 15px;
  right: 0;
  background-color:#ffffff;
  height:100%;
  width:100%;
  text-align:left;
}
#today-on-sale .feature-tab-content .is-page-item:hover {
  height:initial;
}
#today-on-sale .is-page-item .cart-item-image-path {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 0 0 25px;
}
#today-on-sale .is-page-item .cart-item-qtyctl {
  margin-top: 1em;
  display:none;
  height:60px;
}
#today-on-sale .cart-item-descript {
  display:none;
}
#today-on-sale .is-page-item:hover .cart-item-qtyctl,
#today-on-sale .is-page-item:hover .cart-item-descript {
  display:block;
}
#today-on-sale .is-page-item .cart-item-qtysel:focus {
  background-color:#c6b199;
  color:#ffffff;
}
#today-on-sale .today-on-sale-content {
  font-weight: 900;
  font-size: 9pt;
  padding: 10px 25px;
}
#today-on-sale .is-page-item:hover {
  -webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,.5);
  box-shadow: 0px 3px 8px -1px rgba(0,0,0,.5);
}
#artesian-wines {
  overflow:hidden;
}
#artesian-wines img {
  width:100%;
}
#artesian-wines .caption-overlay {
  background-color: rgba(0,0,0,.6);
  font-family: Amatic SC;
  font-size: 17pt;
  color: #ffffff;
  padding: .5em;
}
.featured-tab {
  display: inline-block;
  width: 31.4%;
  max-width:450px;
  margin: 0 .8%;
  height: 100%;
  vertical-align: top;
  position: relative;
  background-color:#ffffff;
  z-index:1;
}
.feature-tab-content .testimonial-author:before {
  content: " - ";
}
.feature-tab-content .testimonial-rating {
  display: block;
  position:relative;
}
.feature-tab-header {
  background-image: url('../images/backgrounds/bg-brown-paper.png');
  width: 110px;
  height: 100%;
  float: left;
  font-family: Amatic SC, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align:center;
  margin-right:15px;
}
.feature-tab-content {
  padding-left: 110px;
  width: 100%;
  height:150px;
}
.feature-tab-head-text {
  color: #ffffff;
  display: block;
  margin-top: 50%;
}
.feature-tab-all-link {
  color: #000000;
  position: absolute;
  width: 110px;
  left: 0;
  bottom: 10%;
}
.testimonial-content {
  font-style: italic;
}

/* navigation categories */
.category-chevron-down {
  height:16px;
  width:52px;
  display:inline-block;
  vertical-align:middle;
}
.category-click-to-view {
  position: absolute;
  top: 0;
  font-size: 24pt;
  font-family: Amatic SC;
  right: 0;
  margin-right: .5em;
  font-weight: normal;
}
#section-reorder .category-click-to-view {
  position: relative;
  display: inline-block;
  left: 25px;
  font-family: Lato, sans-serif;
  text-transform: capitalize;
  color: #f7941e;
  font-size: 15pt;
}
#section-reorder .category-click-to-view:before {
  width: 1px;
  height: 65px;
  content: "";
  border-left: 1px dotted #d5ccba;
  margin-right: 35px;
  display: inline-block;
}
.category-item {
  display: inline-block;
  padding: .75em .75em 1em;
  vertical-align: top;
  font-size: 10.5pt;
  max-width:221px;
}
.category-item:hover {
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.20);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.20);
  color:#231f20;
  background-color:#ffffff;
}
.category-item.is-cart-item > div {
  text-align: left;
  margin-left: 70px;
  font-size: 9pt;
}
.category-item img {
  max-width:100%;
}
.category-item-caption {
  font-family: Amatic SC;
  font-size: 28pt;
  line-height: 1.2em;
  font-weight: bold;
  margin-top:.25em;
}
.category-section-title {
  height: 130px;
  text-align: center;
  line-height: 130px;
  font-family: Amatic SC;
  font-size: 68pt;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  display: block;
  color: inherit;
  cursor:pointer;
}
.category-section-title:hover {
  color:inherit;
}
#section-reorder .category-section-title {
  background-color:#ffffff;
  border-top-right-radius:12px;
  border-top-left-radius:12px;
  font-size: 58pt;
}
#category-tabs > div {
  padding:0 0 1em;
}
#category-tabs > div:after {
  content: '';
  position: absolute;
  height: 12px;
  width: 100%;
  -webkit-box-shadow: 0px 5px 10px -4px rgba(0,0,0,1);
  -moz-box-shadow: 0px 5px 10px -4px rgba(0,0,0,1);
  box-shadow: 0px 5px 10px -4px rgba(0,0,0,1);
}
#category-tabs .category-items {
  padding: 10pt 3pt;
  text-align: center;
  font-size:0;
  border-radius:1em;
  display:none;
}
#section-reorder .category-items {
  display:block;
}

/* Backgrounds and color for specific category tabs */
#section-supermarket {
  background-image: url('../images/backgrounds/bg-supermarket.png');
  color:#736357;
}
#section-best-of-nyc {
  background-image: url('../images/backgrounds/bg-best-of-nyc.png');
  color:#ffffff;
}
#section-organic {
  background-image: url('../images/backgrounds/bg-organic.png');
  color:#e8eacd;
}
#section-drugstore {
  background-image: url('../images/backgrounds/bg-drugstore.png');
  color:#a1a71a;
}
#section-household {
  background-image: url('../images/backgrounds/bg-household.png');
  color:#595050;
}
#section-for-work {
  background-image: url('../images/backgrounds/bg-for-work.png');
  color:#808080;
}
#section-sales-new {
  background-image: url('../images/backgrounds/bg-sales-and-new.png');
  color:#f15a24;
}
#category-tabs #section-reorder {
  background-image: url('../images/backgrounds/bg-reorder.png');
  color:#27aae1;
  padding:30px;
}
.reorder-icon-big {
  background-position:-60px -140px;
  width:43px;
  height:40px;
  display:inline-block;
  vertical-align:initial;
}
#section-supermarket .category-chevron-down {
  background-position:-300px 0px;
}
#section-best-of-nyc .category-chevron-down {
  background-position:-300px -20px;
}
#section-organic .category-chevron-down {
  background-position:-300px -40px;
}
#section-drugstore .category-chevron-down {
  background-position:-300px -60px;
}
#section-household .category-chevron-down {
  background-position:-300px -80px;
}
#section-for-work .category-chevron-down {
  background-position:-300px -100px;
}
#section-sales-new .category-chevron-down {
  background-position:-300px -120px;
}
#section-reorder .category-chevron-down {
  background-position:-300px -140px;
  display:none;
}
#section-reorder .category-items {
  background-color: #ffffff;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  text-align:left;
  white-space:nowrap;
  overflow-x:auto;
  overflow-y:hidden;
  text-align: center;
  padding: 20px 30px;
}
#section-reorder .category-items > * {
  white-space:initial;
  margin-left:-1px;
  text-align:left;
}
#section-reorder .product-thumbnail-wrapper {
  margin-top: 15px;
  float: left;
  margin-left: 0;
}

/* in-page cart items */
.is-page-item {
  color: #000000;
  border: 1px solid #d5ccba;
  font-weight: 900;
  font-size:9pt;
  line-height:1.2em;
  width: 160px;
  height: 340px;
  padding: 10px 10px 15px;
  position:relative;
}
.is-page-item .cart-item-image-path {
  text-align: center;
  height: 140px;
  line-height:140px;
  width:140px;
  margin:0 auto;
}
.is-page-item .cart-item-name,
.is-page-item .cart-item-descript,
.is-page-item .cart-item-full-price {
  margin-bottom:9px;
}
.is-page-item .cart-item-cart-icon {
  left: 12px;
  top: 5px;
}
.is-page-item .cart-item-descript {
  font-weight:normal;
}
.is-page-item .cart-item-qtyctl {
  position: relative;
  display:none;
}
.is-page-item:hover .cart-item-qtyctl {
  display:block;
}
.is-page-item .cart-item-qtyctl > * {
  position: absolute;
}
.is-page-item .cart-item-quantity-add {
  background-position: -70px -60px;
  height: 30px;
  width: 30px;
  top: 14px;
  left: 52px;
  display:none;
}
.is-page-item .cart-item-quantity-del {
  background-position:0px -60px;
  top:19px;
  display:none;
}
.is-page-item.is-selected .cart-item-quantity-del {
  background-position:-40px -60px;
}
.is-page-item .cart-item-quantity-upd {
  background-position:-100px -60px;
  height: 30px;
  width: 30px;
  top: 14px;
  left: 52px;
  display:none;
}
.is-page-item:hover .cart-item-quantity-add,
.is-page-item:hover .cart-item-quantity-del {
  display:initial;
}
.is-page-item .is-editing .cart-item-quantity-add {
  display:none;
}
.is-page-item input.cart-item-qtysel {
  top: 16px;
  left: 23px;
  height: 24px;
  border: 0px none;
  width: 27px;
  display:none;
  text-align: center;
  font-weight:normal;
}
.is-page-item .cart-item-qtytext {
  left: 22px;
  top: 22px;
  cursor: pointer;
  width: 29px;
  color: #ffffff;
  text-align:center;
  font-weight:normal;
}
.is-page-item .is-editing .cart-item-qtytext {
  display:none;
}
.is-page-item .is-editing .cart-item-qtysel {
  display:initial;
}
.is-page-item .cart-item-qtyctl:hover .cart-item-cart-icon {
  background-position: -50px -0px;
}
.is-page-item.is-selected .cart-item-cart-icon,
.is-page-item.is-selected .cart-item-qtyctl:hover .cart-item-cart-icon {
  background-position: 0px -0px;
}
.is-page-item .cart-item-icon-sep {
  top: 7px;
  left: 80px;
  height: 44px;
}
.is-page-item .cart-item-wish {
  left: 100px;
  top: 15px;
}

/* footer elements */
#footer-nav {
  margin-bottom: 3em;
}
#footer-nav li {
  display: inline-block;
  list-style-type: none;
  font-size: 9pt;
  color: #ffffff;
  font-weight: bold;
  padding: 0 10px;
}
#footer-nav a, #footer-nav a:visited, #footer-nav a:hover {
  color:#ffffff;
}
#footer-blurb p {
  margin-bottom: 1em;
  margin: 0 75px 1em;
}

/* Sign-in/Sign-Up Lightbox */
.lightbox-content {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  position:relative;
}
.lightbox-content .nivo-lightbox-close {
  width: 30px;
  height: 30px;
  font-size: 0;
  border-radius: 16px;
  background-image: url('../images/sprites.png');
  background-position: -96px 0;
}
.lightbox-content.ui-tabs {
  padding:3em;
  background-color:#ffffff;
  border-radius:1.5em;
}
.lightbox-content .ui-tabs-panel {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
  border-radius: 1em;
}
.lightbox-content.ui-tabs .ui-tabs-nav {
  padding: 0;
}
.lightbox-content.ui-tabs .ui-tabs-nav li {
  border:0px none;
  margin:0px;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(255,255,255,1), 0px 2px 4px 0px rgba(0,0,0,0.25)
  -moz-box-shadow: 0px 5px 0px 0px rgba(255,255,255,1), 0px 2px 4px 0px rgba(0,0,0,0.25)
  box-shadow: 0px 5px 0px 0px rgba(255,255,255,1), 0px 2px 4px 0px rgba(0,0,0,0.25)
}
.lightbox-content.ui-tabs .ui-state-default a,
.lightbox-content.ui-tabs .ui-state-default a:link,
.lightbox-content.ui-tabs .ui-state-default a:visited {
  background-color:transparent;
  color:inherit;
}

.lightbox-content.ui-tabs .ui-tabs-nav li {
  color:#ffffff;
  background:#F7931E;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  font-size: 14px;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(255,255,255,1), 0px -1px 6px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 0px 0px rgba(255,255,255,1), 0px -1px 6px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 0px 0px rgba(255,255,255,1), 0px -1px 6px 0px rgba(0,0,0,0.4);
}
.lightbox-content.ui-tabs .ui-tabs-nav li.ui-state-active {
  background:#ffffff;
  color:#000000;
}
.lightbox-content.ui-widget-content {
  border:0px none;
}
.lightbox-content .ui-widget-header {
  background-color:transparent;
  border:0px none;
  color:#000000;
}
#sign-in-new-customer {
  margin-top:1em;
}
#sign-in-links {
  text-align:center;
  font-weight:bold;
}
#sign-in-links a {
  display:block;
  color:#F7931E;
}
#sign-in-tab {
  padding:2em 4em;
}

/* account forms in general */
.account-form select,
.account-form input[type=text],
.account-form input[type=password] {
  width: 100%;
  padding: .5em;
  font-style: italic;
  font-size: 10pt;
  margin: 0 0 1.5em;
}
.account-form select {
  margin-top:1em;
}
.account-form input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-top: -4px;
  margin-right: .5em;
  vertical-align:middle;
}
.account-form label {
  vertical-align:middle;
  max-width:80%;
}
.account-form input[type=submit] {
  display: block;
  margin: 20px 0;
  height: 45px;
  width: 100px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(251,173,58,1) 0%, rgba(251,173,58,0.98) 21%, rgba(242,95,37,0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,173,58,1)), color-stop(21%,rgba(251,173,58,0.98)), color-stop(100%,rgba(242,95,37,0.9)));
  background: -webkit-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: -o-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: -ms-linear-gradient(top, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  background: linear-gradient(to bottom, rgba(251,173,58,1) 0%,rgba(251,173,58,0.98) 21%,rgba(242,95,37,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbad3a', endColorstr='#e6f25f25',GradientType=0 );
  color: #ffffff;
  font-size: 14pt;
  border-radius: .5em;
  border: 0px none;
}
.account-form .form-field-note {
  margin: -1em 0 1.5em;
  font-size: 10pt;
  max-width: 100%;
}

/* quick search auto-suggest */
.ui-autocomplete.ui-front {
  max-height: 12em;
  overflow-x: hidden;
  width: 355px;
}

/* dynamic cart items */
.is-cart-item {
  color: #000000;
  font-weight: 900;
}
.is-cart-item img {
  float: left;
  max-width: 65px;
  margin: .25em .25em 1em;
}
.is-cart-item span {
  display: block;
  text-align: left;
  margin-top: 10px;
  line-height:1.2em;
}
.is-cart-item .product-description {
  font-weight:normal;
}
.is-cart-item .product-price {
  margin-top:10px;
}
.is-cart-item .product-price:before {
  content:'$';
  font-weight:normal;
}
.cart-item-cart-icon {
  background-position: -100px -0px;
  height: 48px;
  width: 48px;
}
.cart-item-cart-icon:hover {
  background-position: -50px -0px;
  cursor:pointer;
}
.cart-item-price:before {
  content:'$';
  font-weight:normal;
}
.cart-item-full-price .cart-item-price:after {
  content: '/';
}
.cart-item-priceunit:after {
  content: '.';
}
.cart-item-full-price > div {
  display:inline-block;
}
.cart-item-icon-sep {
  margin-left: 10px;
  border-right: 1px dotted #9b8579;
  height: 30px;
}
.cart-item-qtysel {
  width: 30px;
  height: 30px;
  text-align: right;
  font-size:9pt;
  vertical-align: middle;
  border:1px solid #d0d0d0;
  background-color:#ffffff;
}
.cart-item-wish {
  background-position: -230px -60px;
  height: 27px;
  width: 27px;
}
.cart-item-wish.is-selected,
.cart-item-wish:hover {
  background-position: -141px -60px !important;
}
.is-cart-item .cart-item-icon {
  height: 30px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
}
.is-cart-item .cart-item-add {
  margin-left:10px;
}
.is-cart-item .cart-item-add:hover,
.is-cart-item .cart-item-add.is-selected {
  background-position: -32px 0px;
}

